.profile {
    grid-area: c;
}

.Text h1 {
    text-align: center;
}

.Avatar img {
    margin-left: 10%;
    width: 80px;
    height: 80px;
    border-radius: 500px;
}

.infabutme {
    text-align: center;
}