.Login {
    grid-area: c;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    width: 100%;
}

.Login h1 {
    color: rgb(0, 0, 0);
    text-align: center;
}

.LoginForm {
margin-left: 25%;
    width: 500px;
    background: #eee;
    box-shadow: 2px 2px 2px  rgba(0, 0, 0, .5);
    padding: 15px;
    border-radius: 5px;
}